@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-body: var(--font-poppins);
  --font-heading: var(--font-rubik);
}

p, body {
  font-family: var(--font-body);
  @apply text-[0.87rem] sm:text-[1rem] md:text-[0.93rem];
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: bold;
}

h1 {
  @apply text-[2rem] md:text-3xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
}

h3 {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-2xl xl:text-[2rem] 2xl:text-[2.5rem];
}

h5 {
  @apply text-[1rem] sm:text-[1rem] md:text-[1rem] lg:text-[1.2rem] xl:text-[1.2rem] 2xl:text-[1.25rem];
}

h6 {
  @apply text-[0.87rem] sm:text-[1rem] md:text-[0.8rem] font-light;
}

.home_side_icons_container {
  @apply hidden md:flex absolute bg-linear-to-b from-[#7DB6FF] to-[#5192E6] p-2 rounded-full shadow-lg hover:scale-110 transition duration-300 ease-in-out;
}

.partner_logos_format {
  @apply flex justify-center items-center w-26 sm:w-30 md:w-40 h-14 sm:h-16 md:h-24 shrink-0 bg-white p-3 rounded-xl;
}

.inclusions {
  @apply flex flex-row justify-start items-center gap-2;
}

.inclusions_icons {
  @apply text-[#1775EE] shrink-0 w-8 h-8 rounded-full border border-[#1775EE] flex items-center justify-center;
}

.services_card {
  @apply relative shrink-0 w-[83vw] sm:w-[83vw] md:w-[42vw] lg:w-[29vw] xl:w-[25vw] rounded-xl overflow-hidden bg-[#EBF5FD] cursor-pointer;
}

.why_choose_card {
  @apply p-6 rounded-xl shadow-md hover:shadow-lg bg-white hover:bg-[#1775EE] text-[#000000] hover:text-white transition duration-300 ease-in-out space-y-1;
}

.desktop_process_steps {
  @apply flex flex-col items-center max-w-55;
}

.desktop_process_icons {
  @apply w-22 h-22 bg-[#5192E6] rounded-full flex items-center justify-center shadow-xl mb-4;
}

.desktop_process_svg {
  @apply w-10 h-10 text-white;
}